@use "../_mixins.scss" as *;

.ledger-page {
  .p-tabview.ledger-tabview {
    height: 100%;

    display: flex;
    flex-direction: column;

    .p-tabview-nav {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .p-tabview-nav-link {
        padding: 0.75rem;

        justify-content: center;
      }
    }

    .p-tabview-panels {
      flex: 1 1 auto;
      scrollbar-gutter: stable both-edges;
      padding-left: 5px;
      padding-right: 5px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      padding: 0;

      .p-tabview-panel {
        height: 100%;

        .panel-inner {
          // .p-tabview-panels에 scrollbar-gutter를 적용하면..
          padding: var(--base-padding) 5px;
          // 안하면..
          // padding: var(--base-padding);
        }
      }
    }
  }
}

.list-item {
  color: var(--text-color);

  &.gType-수입,
  &.rpType-수입 {
    background-color: var(--blue-50);
  }

  &.gType-지출,
  &.rpType-지출 {
    background-color: var(--pink-50);
  }

  &.gType-이체,
  &.rpType-이체 {
    background-color: var(--green-50);
  }

  .p-tag.gCategory,
  .p-tag.rpCategory {
    color: var(--text-color);
    background-color: var(--bluegray-100);
  }

  .p-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border: solid 1px transparent;
    border-radius: 50%;
    background-color: transparent;

    &.gType-수입 {
      color: var(--blue-500);
      border-color: var(--blue-500);
    }

    &.gType-지출 {
      color: var(--pink-500);
      border-color: var(--pink-500);
    }

    &.gType-이체 {
      color: var(--green-500);
      border-color: var(--green-500);
    }
  }
}


.list-item {
  @include dark-mode {

    &.gType-수입,
    &.rpType-수입 {
      background-color: var(--blue-800);
    }

    &.gType-지출,
    &.rpType-지출 {
      background-color: var(--pink-800);
    }

    &.gType-이체,
    &.rpType-이체 {
      background-color: var(--green-800);
    }

    .p-tag.gCategory,
    .p-tag.rpCategory {
      color: var(--text-color);
      background-color: var(--bluegray-900);
    }

    .p-badge {
      &.gType-수입 {
        color: var(--blue-500);
        border-color: var(--blue-500);
      }

      &.gType-지출 {
        color: var(--pink-500);
        border-color: var(--pink-500);
      }

      &.gType-이체 {
        color: var(--green-500);
        border-color: var(--green-500);
      }
    }
  }
}