.ledger-page {
    .p-tabview.ledger-tabview {
        .p-tabview-nav {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .p-tabview-nav-link {
                padding: 0.5rem;

                justify-content: center;
            }
        }

        .p-tabview-panels {
            padding: 0;

            .p-tabview-panel {
                padding: 20px;
            }
        }
    }
}

.list-item {
    &.gType-수입 {
        background-color: var(--blue-50);
    }

    &.gType-지출 {
        background-color: var(--orange-50);
    }

    &.gType-이체 {
        background-color: var(--green-50);
    }

    .p-tag.gCategory,
    .p-tag.rpCategory {
        color: var(--text-color);
        background-color: var(--bluegray-100);
    }

    .p-badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        border-radius: 50%;
        font-size: 1rem;
        color: white;

        &.gType-수입 {
            background-color: var(--blue-500);
        }

        &.gType-지출 {
            background-color: var(--orange-500);
        }

        &.gType-이체 {
            background-color: var(--green-500);
        }
    }
}