.ledger-page {
  .p-tabview.ledger-tabview {
    height: 100%;

    display: flex;
    flex-direction: column;

    .p-tabview-nav {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));

      .p-tabview-nav-link {
        padding: 0.75rem;

        justify-content: center;
      }
    }

    .p-tabview-panels {
      flex: 1 1 auto;
      padding: 0;
      overflow: hidden; // 패널 내부에서 스크롤 관리하도록 변경

      .p-tabview-panel {
        position: relative;
        height: 100%;
        width: 100%;

        .panel-inner {
          height: 100%;
          padding: var(--padding-base);

          display: flex;
          flex-direction: column;
          gap: calc(var(--padding-base) / 2);
        }
      }
    }
  }
}

.fc {
  .gType-수입 {
    color: color-mix(in srgb, var(--color-수입), transparent 67%)
  }

  .gType-지출 {
    color: color-mix(in srgb, var(--color-지출), transparent 67%)
  }

  .gType-이체 {
    color: color-mix(in srgb, var(--color-이체), transparent 67%)
  }

  .custom-day-content {
    .total-income {
      color: var(--color-수입);
    }

    .total-expense {
      color: var(--color-지출);
    }

    .total-transfer {
      color: var(--color-이체);
    }
  }
}

.list-item {
  color: var(--text-color);

  &.gType-수입,
  &.rpType-수입 {
    background-color: var(--bg-수입-100);

    &.gExecuted-Y,
    &.rpExecuted-Y {
      color: var(--text-color-secondary);
      background-color: var(--bg-수입);
    }
  }

  &.gType-지출,
  &.rpType-지출 {
    background-color: var(--bg-지출-100);

    &.gExecuted-Y,
    &.rpExecuted-Y {
      color: var(--text-color-secondary);
      background-color: var(--bg-지출);
    }
  }

  &.gType-이체,
  &.rpType-이체 {
    background-color: var(--bg-이체-100);

    &.gExecuted-Y,
    &.rpExecuted-Y {
      color: var(--text-color-secondary);
      background-color: var(--bg-이체);
    }
  }

  .p-tag.gCategory,
  .p-tag.rpCategory {
    color: var(--text-color);
    background-color: var(--bluegray-100);
  }

  .p-badge {
    border: solid 1px transparent;
    background-color: transparent;

    &.gType-수입 {
      color: var(--color-수입);
      border-color: var(--color-수입);
    }

    &.gType-지출 {
      color: var(--color-지출);
      border-color: var(--color-지출);
    }

    &.gType-이체 {
      color: var(--color-이체);
      border-color: var(--color-이체);
    }
  }
}

.p-selectbutton.rpType,
.p-selectbutton.gType {
  .p-button {
    font-size: 1.25rem;
  }
}