.list-page {
    height: 100%;
    padding: 0 20px;

    display: flex;
    flex-direction: column;

    .month-calendar {
        margin-bottom: 10px;

        .p-datepicker {
            padding: 0;
            border: 0;

            .p-datepicker-header {
                padding: 0;
                border: 0;

                .p-datepicker-month,
                .p-datepicker-year {
                    font-size: 1.125rem;
                    padding: 0 0.25rem;
                }

                .p-datepicker-next,
                .p-datepicker-prev {
                    background-color: var(--bluegray-100);
                }
            }

            .p-datepicker-calendar-container {
                display: none;
            }
        }
    }

    .list-dataview {
        .p-dataview-content {
            .p-grid {
                gap: 10px;
            }
        }
    }

    .list-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }
}