/* Common commonly used style definitions */

.monospace {
  font-feature-settings: "tnum";
  /* 최신 브라우저 권장 */
  font-variant-numeric: tabular-nums;
}

.unit {
  // font-size: 0.875rem;
  font-weight: normal;
}

.padding-bottom-20 {
  padding-bottom: var(--padding-base);
}

.btn-floating-action {
  position: absolute;
  right: var(--padding-base);
  bottom: var(--padding-base);
  z-index: 1000;

  width: 3.5rem;
  height: 3.5rem;
  // border-radius: 50%;
}

label.required {
  &::after {
    content: "*";
    color: var(--pink-500);
    margin-left: 0.25rem;
  }
}

.gType-수입 {
  color: var(--color-수입);
}

.gType-지출 {
  color: var(--color-지출);
}

.gType-이체 {
  color: var(--color-이체);
}