/* Redefining styles for imported packages like primereact */

.text-primary {
  color: var(--primary-color) !important;
}

.p-button.p-button-sm .p-button-icon {
  font-size: unset;
}

.p-dropdown-items-wrapper {
  max-height: 391px !important;
}

.p-inputswitch {
  min-width: 3rem;
}

/* 일요일 (첫 번째 열) 색상 설정 */
.p-datepicker {
  table {

    /* 헤더(요일) */
    th:nth-child(1)>span {
      color: var(--red-500);
      /* 빨간색 계열 */
    }

    /* 날짜 */
    td:nth-child(1):not(.p-datepicker-other-month)>span {
      color: var(--red-500);
    }
  }
}

/* 토요일 (일곱 번째 열) 색상 설정 */
.p-datepicker {
  table {

    /* 헤더(요일) */
    th:nth-child(7)>span {
      color: var(--blue-500);
      /* 파란색 계열 */
    }

    /* 날짜 */
    td:nth-child(7):not(.p-datepicker-other-month)>span {
      color: var(--blue-500);
    }
  }
}

/* 선택된 날짜나 오늘 날짜의 텍스트 색상이 묻히지 않도록 조정 (필요시) */
// .p-datepicker table td>span.p-highlight {
//     color: #ffffff !important;
// }

.p-datepicker .p-datepicker-header {

  .p-datepicker-title .p-inputtext-sm {
    line-height: normal;
  }

  .p-datepicker-next,
  .p-datepicker-prev {
    background-color: var(--bluegray-100);
  }

  .p-datepicker-prev-icon,
  .p-datepicker-next-icon {
    color: var(--primary-color-text);
  }
}

.month-calendar {
  .p-datepicker {
    padding: 0;
    border: 0;

    .p-datepicker-header {
      gap: 0.5rem;
      padding: 0.25rem;
      border: 0;

      .p-datepicker-title {
        display: flex;
        gap: 0.5rem;
        line-height: normal;

        .month-dropdown,
        .year-dropdown {
          width: 8rem;
          height: 3rem;
          max-height: 3rem;

          .p-dropdown-label {
            padding: 0.75rem;
            line-height: 1;
            font-size: 1.25rem;
            font-weight: bold;
          }
        }
      }

      .p-datepicker-month,
      .p-datepicker-year {
        // font-size: 1.125rem;
        padding: 0 0.25rem;
      }

      .p-datepicker-next,
      .p-datepicker-prev {
        width: 3rem;
        height: 3rem;
        background-color: var(--bluegray-100);
      }

      .p-datepicker-next-icon,
      .p-datepicker-prev-icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    .p-datepicker-calendar-container {
      display: none;
    }
  }
}

.p-tree {
  padding: 0;

  .p-treenode-children {
    padding: 0 0 0 2.5rem;
  }
}

// Scrollbar styling
.p-dropdown-items-wrapper,
.p-treeselect-items-wrapper {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--gray-300);
  }
}

.p-panel {
  .p-panel-content {
    padding: var(--padding-base);
  }

  .p-panel-footer {
    padding: var(--padding-base);
  }
}