// font family & default baseline styles
body {
  font-family: var(--font-family);
  // font-size: 1em;
  background-color: var(--surface-50);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

:root {
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--gray-300);
  }
}