.app-container {
    // color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: var(--screen-md);
    margin: 0 auto;
    // background-color: white;
}

.app-header {
    height: var(--header-height);
    margin-bottom: 0.5rem;

    flex: 0 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;

    background-color: var(--primary-color);

    .app-header-title {
        margin: 0;
        padding-left: 0.5rem;
        // font-size: 1.5em;
        font-weight: bold;
        color: var(--primary-color-text);
    }

    .app-header-buttons {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .p-button {
            width: 2.5rem;
            height: 2.5rem;
            background: white;
        }
    }
}

.app-content {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .app-page {
        height: 100%;

        display: flex;
        flex-direction: column;
    }
}

.app-footer {
    height: var(--footer-height);
    flex: 0 0 auto;
    // border-top: 1px solid #dee2e6;

    .p-tabmenu {
        height: 100%;

        ul.p-tabmenu-nav {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            height: 100%;
            border-width: 2px 0 0 0;

            .p-tabmenu-ink-bar {
                top: -2px;
            }

            .p-tabmenuitem {
                .p-menuitem-link {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.25rem;

                    margin-top: -2px;
                    padding: 0;
                    border-width: 2px 0 0 0;
                    border-radius: 0;
                    background-color: transparent;

                    .p-menuitem-icon {
                        margin: 0;
                    }
                }

                &.p-highlight {
                    background-color: var(--highlight-bg);

                    .p-menuitem-link {
                        color: var(--highlight-text-color);
                    }
                }
            }
        }
    }
}

.p-sidebar-bottom {
    .p-sidebar {
        width: var(--screen-md);
        height: auto;
        max-height: 80vh;
        min-height: 30vh;
        border-radius: 10px 10px 0 0;
    }
}

.p-sidebar {
    .p-sidebar-header {
        padding-bottom: 0.25rem;
    }

    .p-sidebar-content {
        padding: 0;
    }

    .p-panel {
        height: 100%;

        display: flex;
        flex-direction: column;

        .p-toggleable-content {
            flex: 1 1 auto;
        }

        .p-panel-content {
            border: none;
        }

        .p-panel-footer {
            border: 0;
            border-top: 1px solid var(--surface-border);

            position: sticky;
            bottom: 0;
        }

        .p-panel-footer {
            display: flex;
            justify-content: flex-end;
            gap: 0.5rem;

            .p-button {
                width: 100%;

                &.p-button-icon-only {
                    width: auto;
                }
            }
        }
    }
}


/* Form */
.formWrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .inputWrap {
        display: flex;
        align-items: center;

        label {
            min-width: 5rem;
        }

        .p-inputtext,
        .p-inputnumber {
            flex-grow: 1;
        }

        .p-selectbutton {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

            .p-button {
                width: 100%;
            }
        }
    }
}