// 변수 정의

@use "./_mixins.scss" as *;

:root {
  // 폰트
  --font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  // 색상
  // $primary-color: #007bff;
  // $secondary-color: #6c757d;
  // --success-color: #28a745;
  // --danger-color: #dc3545;
  // --warning-color: #ffc107;
  // --info-color: #17a2b8;
  // --light-color: #f8f9fa;
  // --dark-color: #343a40;

  // 화면 크기
  --screen-md: 768px;

  // 높이
  --header-height: 4.5rem;
  --footer-height: 4.5rem;

  // 너비
  // --sidebar-width: 300px;
  // --content-max-width: 1200px;

  // 색상
  --color-수입: var(--blue-500);
  --color-지출: var(--pink-500);
  --color-이체: var(--green-500);
  --bg-수입: var(--blue-50);
  --bg-지출: var(--pink-50);
  --bg-이체: var(--green-50);
  --bg-수입-100: var(--blue-100);
  --bg-지출-100: var(--pink-100);
  --bg-이체-100: var(--green-100);
  // z-index

  // 애니메이션

  // 기타
  --padding-base: 1.5rem;
}

@include dark-mode {
  --color-수입: var(--blue-500);
  --color-지출: var(--pink-500);
  --color-이체: var(--green-500);
  --bg-수입: var(--blue-800);
  --bg-지출: var(--pink-800);
  --bg-이체: var(--green-800);
  --bg-수입-100: var(--blue-700);
  --bg-지출-100: var(--pink-700);
  --bg-이체-100: var(--green-700);
}

// 색상
// $primary-color: #007bff;
// $secondary-color: #6c757d;
// $success-color: #28a745;
// $danger-color: #dc3545;
// $warning-color: #ffc107;
// $info-color: #17a2b8;
// $light-color: #f8f9fa;
// $dark-color: #343a40;

// 폰트
$font-family: var(--font-family);

// 화면 크기
$screen-md: var(--screen-md);

// 높이
$header-height: var(--header-height);
$footer-height: var(--footer-height);

// 너비
// $sidebar-width: var(--sidebar-width);

// z-index

// 애니메이션

// 기타